@font-face {
    font-family: Code;
    src: url('fonts/Code/CODE-Bold.otf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: Code;
    src: url('fonts/Code/CODE-Light.otf') format('truetype');
    font-weight: light;
}

@font-face {
    font-family: Lato;
    src: url('fonts/Lato/Lato-Thin.ttf') format('truetype');
    font-weight: light;
}

html {
    font-size: 100%;
    height: 100%;
    background-color: #fff;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

body {
	width: 100%;
	height: auto;
	margin: auto;
	background-color: #fff;
	font-size: 11pt;
	padding:0;
}

.content {
	width: 92%;
	background-color: #fff;
	text-align: center;
	height: auto;
	z-index: 0;
	padding: 0 0 30px;
	margin: 4% 4% 0;
	overflow: scroll;
}

::selection {
  background: #aaa;
  /*color: #fff;*/
}

/* For the top and bottom bars, all pages */

header {
	position: fixed;
	top: 0;
	width: 100%;
	height: 70px;
	line-height: 69px;
	z-index: 1;
	overflow: auto;
	transition: top 0.2s ease-in-out;
	border-bottom: 1px solid #ddd;
	background-color: #fff;
	overflow: hidden;
}

.nav-up {
	top: -100px;
}
	

div.title {
	float: left;
	margin: 0 5%;
	background-color: #fff;
	height: 100%;
}

div.spacer {
	width: 100%;
	height: 80px;
}

h1 {
	font-family: Code;
	font-weight: light;
	font-size: 175%;
    color: #000;
    text-decoration: none;
    text-transform: none;
    letter-spacing: 1.5px;
    background-color: #fff;
    margin: 0;  
}

div.nav {
	float: right;
	margin-right: 5%;
	background-color: #fff;
	height: 100%;
	padding: 0;
	max-width: 100%;
}

#nav ul {
	text-align: center;
	list-style: none;
	background-color: #fff;
	margin: 0;
	padding: 0;
	vertical-align: bottom;
}

#nav ul li {
	display: inline;
}

#nav li a {
	font-family: Lato;
	font-weight: light;
	font-size: 100%;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
}

#nav li a:hover {
	border-bottom: 1px solid #000;
	padding-bottom: 3px;
}


div.bottom {
	background-color: #fff;
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	height: 30px;
	line-height: 30px;
	position: fixed;
	bottom: 0px;
	right: 0px;
	left: 0px;
	text-align: left;
	font-size: 75%;
	z-index:0;
	padding-left: 5%;
	border-top: 1px solid #ddd;
}


/* For the images on portfolio page */

#rig {
    /*max-width:900px*/
    margin: auto; /*center aligned*/
    padding: 0 0 100px;
    font-size:0;
    list-style:none;
    z-index:0;
    height: auto;
    width: 100%;
}

#rig li {
    display: inline-block;
    *display:inline;/*for IE6 - IE7*/
    vertical-align: top;
    width: 100%;
    margin: 1%;
    padding: 0;
    height: 100%;
    overflow: hidden;
    float: left;
}
        
.rig-cell {
    /*margin:12px;*/
    display:block;
    position: relative;
    overflow: hidden;
    margin: auto;
    max-height: 100%;
    bottom: 0;
}
        
.rig-img {
    display:block;
    width: 100%;
    height: auto;
    border:none;
    transition:all .5s;
}

#rig li:hover .rig-img {
	transform: scale(1.05);
}
   
.rig-overlay {
    position: absolute;
    display:block;
    top: 70%;
    left: 10pt;
    bottom: 10pt;
    right: 10pt;
    margin: auto;
    background: #fff;
    opacity:0.95;
    transition:all .3s;
}

#rig li:hover .rig-overlay {
    /*opacity:1;*/
    top: 10pt;
}

/* If have captions */
.rig-text {
    display:block;
    /*padding:0 30px;*/
    box-sizing:border-box;
    position:absolute;
    left:0;
    width:100%;
    text-align:center;
    text-transform:capitalize;
    font-size: 20px;
    font-weight:900;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-weight:normal!important;
    top:35%;
    color: #222;
    opacity:1;
    filter:alpha(opacity=0);/*For older IE*/
    /*transform:translateY(-20px);*/
    transition:all .3s;
}

.rig-text2 {
	margin: auto;
	vertical-align: middle;
}

#rig li:hover .rig-text {
    /*transform:translateY(0px);*/
    top: 15%;
}

.rig-desc {
    display:block;
    /*padding:0 30px;*/
    box-sizing:border-box;
    position:absolute;
    left:10%;
    width:80%;
    text-align:center;
    text-transform:none;
    font-size: 14px;
    font-weight:bold;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-weight:normal!important;
    top:30%;
    color: #777;
    opacity:0;
    filter:alpha(opacity=0);/*For older IE*/
    /*transform:translateY(-20px);*/
    transition:all .3s;
}
#rig li:hover .rig-desc {
	opacity:1;
}

.rig-skill {
	color: white;
	background-color: #6882ad;
	display: inline-block;
	padding: 5pt 6pt;
	margin: 3px;
	font-size: 10px;
} 

.rig-arrow {
	display: inline-block;
	position: absolute;
	right: 10%;
	text-align: right;
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	font-size: 18px;
	opacity:0;
	color: #555;
	bottom: 10%;
}

#rig li:hover .rig-arrow {
	opacity:1;
}

/* Intro page */

.inContent {
	width: 100%;
	padding: 0 0 5vw;
	overflow: auto;
	margin: 70px auto 0;
}

td {
	height: 400px;
	min-width: 30px;
}

.cover {
  object-fit: cover;
  width: 100%;
  height: 100%;
  margin: auto;
}

/* Project pages */

#body {
	width: 700px;
	background-color: #fff;
	max-width: 90%;
	font-family: sans-serif;
	font-size: 125%;
	color: #333;
	font-weight: 100;
	height: auto;
	margin: 10% auto 30px;
	z-index: 0;
	line-height: 1.5em;
	padding-bottom: 30px;
}

#body li {
	margin: 1em 0;
}

#link {
	text-decoration: none;
	color: #aaa;
}

#link:hover {
	color: #333;
}

.tablecontents {
	margin: 4em 0.2em;
	text-decoration: none;
	color: #333;
	background-color: #e4e4e4;
	padding: 1em;
	display: inline block;
	white-space: nowrap;
}

.tablecontents:hover {
	background-color: #aaa;
}

#image {
	margin: 0;
	width: 100%;
	text-align: center;
	line-height: 3.8em;
}

#image2 {
	margin: 2em auto;
	width: 60%;
	display: block;
}

.title-cell {
    display:block;
    position: relative;
    overflow: hidden;
    margin: 5vw auto 0;
    width: 90%;
}

#titleimage {
	width: 100%;
	display:block;
	height: 60vw;
	max-height: 500px;
	object-fit: cover;
	display: block;
}

.pageTitle {
	position: absolute;
	top: 40%;
	width: 100%;
	height: auto;
	background-color: #fff;
	text-align: center;
}
	

#video {
	margin: auto;
	max-width: 100%;
	min-width: 70%;
	display: block;
}

sectionHead {
	font-family: sans-serif;
	font-size: 200%;
	font-weight: bold;
	display: block;
	margin-top: 3em;
	margin-bottom: 1em;
	line-height: 1em;
}

sectionHead.sub {
	font-size: 150%;
	margin:1em 0;
	color: #555;
	line-height: 1em;
}

pageTitle {
	font-size: 175%;
	display: block;
	color: #333;
}

figure {
	margin: 2em auto;
	padding: 0;
}

figcaption {
	margin: 0;
	padding: 0;
	font-size: 11pt;
	line-height: 12pt;
	text-align: center;
}

/* Modifications for screen size */

@media (max-width: 9000px) {
    #rig li {
        width: 31%;
        height: 50%;
    }
}

/* anything small */
@media (max-width: 1000px) {
	
	#rig {
		width: 100%;
		margin: auto;
	}
    #rig li {
        width:98%;
        height: auto;
    }
    .rig-cell {
    	max-height: 250px;
    }
    .content {
		width: 100%;
		margin: 0;
	}
}

/* anything small */
@media (max-width: 700px) {
	
	td {
        width:100%;
        display: block;
        padding:0;
        height: auto;
        /*margin-bottom: 5vw;*/
    }
    .inContent {
		margin-bottom: 5vw;
	}
}